@{
    ViewData["Title"] = "Home Page";
}

<!-- cycle section start -->
<div class="cycle_section layout_padding">
    <div class="container">
        <h1 class="cycle_taital">Our Weapons</h1>
        <p class="cycle_text">We carry a variety of implements from the traditional in hand-to-hand combat to more exotic and mass casualty inducing technologies.</p>
        <div class="cycle_section_2 layout_padding">
            <div class="row">
                <div class="col-md-6">
                    <div class="box_main">
                        <h6 class="number_text">01</h6>
                        <div class="image_2"><img src="~/images/dao.jpg"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h1 class="cycles_text">Jian</h1>
                    <p class="lorem_text">Some call it "The Gentleman of Weapons". A multipurpose cut and thrust weapon capable of stabbing, as well as making both precise cuts and slashes.</p>
                    <div class="btn_main">
                        <div class="buy_bt"><a asp-action ="TiledWeapons" asp-controller="Weapons">View Now</a></div>
                        <h4 class="price_text">Price <span style=" color: #f7c17b">$</span> <span style=" color: #325662">200</span></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="cycle_section_3 layout_padding">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="cycles_text">War Hammer</h1>
                    <p class="lorem_text">An armored defenders worst nightmare. Able to make deadly dents in armor and cause bone shattering injuries.</p>
                    <div class="btn_main">
                        <div class="buy_bt"><a asp-action="TiledWeapons" asp-controller="Weapons">View Now</a></div>
                        <h4 class="price_text">Price <span style=" color: #f7c17b">$</span> <span style=" color: #325662">150</span></h4>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box_main_3">
                        <h6 class="number_text_2">02</h6>
                        <div class="image_2"><img src="~/images/warhammer.jpg"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cycle_section_2 layout_padding">
            <div class="row">
                <div class="col-md-6">
                    <div class="box_main_3">
                        <h6 class="number_text_2">03</h6>
                        <div class="image_2"><img src="~/images/kunai.jpg"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h1 class="cycles_text">Assassin's <br>Kunai</h1>
                    <p class="lorem_text">Perfect for concealment! Primarily used as tools but, when used as a weapon it makes a useful stabbing and thrusting implement.</p>
                    <div class="btn_main">
                        <div class="buy_bt"><a asp-action="TiledWeapons" asp-controller="Weapons">View Now</a></div>
                        <h4 class="price_text">Price <span style=" color: #f7c17b">$</span> <span style=" color: #325662">50</span></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="read_btn_main">
            <div class="read_bt"><a href="#">Read More</a></div>
        </div>
    </div>
</div>
<!-- cycle section end -->
<!-- about section start -->
<div class="about_section layout_padding">
    <div class="container">
        <h1 class="about_taital">About Our Weapons Store</h1>
        <p class="about_text">
            “We provide and deliver weapons technology that solves age old problems in a beautifully simplistic or sometimes advanced method.”


        </p>
        <div class="about_main">
            <img src="~/images/crossedsabers.jpg" class="image_5">
        </div>
        <div class="read_bt_1"><a href="#">Read More</a></div>
    </div>
</div>
<!-- about section end -->
<!-- client section start -->
<div class="client_section layout_padding">
    <div id="my_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="client_main">
                        <h1 class="client_taital">Customer Feedback</h1>
                        <div class="client_section_2">
                            <div class="client_left">
                                <div><img src="~/images/warrior.jpg" class="client_img"></div>
                            </div>
                            <div class="client_right">
                                <div class="quote_icon"><img src="~/images/quote-icon.png"></div>
                                <p class="client_text">"My swords would always crack during battle, but now with my new broadsword from WeaponTech I've cleaved five men in two in the last week!"</p>
                                <h3 class="client_name">Hrothgar Skullcleaver</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="client_main">
                        <h1 class="client_taital">Customer Feedback</h1>
                        <div class="client_section_2">
                            <div class="client_left">
                                <div><img src="~/images/viking.jpg" class="client_img"></div>
                            </div>
                            <div class="client_right">
                                <div class="quote_icon"><img src="~/images/quote-icon.png"></div>
                                <p class="client_text">"When I'm in a berserker rage the last thing I want to think about is my weapon failing. With WeaponTech products I'm free to focus on hearing the lamentation of my enemies."</p>
                                <h3 class="client_name">Ivar Svartsson</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="client_main">
                        <h1 class="client_taital">Customer Feedback</h1>
                        <div class="client_section_2">
                            <div class="client_left">
                                <div><img src="~/images/bhninja.jpg" class="client_img"></div>
                            </div>
                            <div class="client_right">
                                <div class="quote_icon"><img src="~/images/quote-icon.png"></div>
                                <p class="client_text">“The blackness of my belt is like the inside of a coffin on a moonless night...thanks to WeaponTech”</p>
                                <h3 class="client_name">Haru</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>
<!-- client section end -->
<!-- news section start -->
<div class="news_section layout_padding">
    <div class="container">
        <h1 class="news_taital">News</h1>
        <p class="news_text">Check out our articles about new trends and topics impacting the industry.</p>
        <div class="news_section_2 layout_padding">
            <div class="row">
                <div class="col-sm-4">
                    <div class="box_main_1">
                        <div class="zoomout frame"><img src="~/images/wargame.jpg"></div>
                        <div class="padding_15">
                            <h2 class="speed_text">Crusader Digest</h2>
                            <div class="post_text">Post by : Steve <span style="float: right;">2-5-2022</span></div>
                            <p class="long_text">With all of the advancements in technology, do we still need armored infantry? Check out our answer inside!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="box_main_1">
                        <div class="zoomout frame"><img src="~/images/spacewarfare.jpg"></div>
                        <div class="padding_15">
                            <h2 class="speed_text">Asymmetrical Space Warfare</h2>
                            <div class="post_text">Post by : Steve <span style="float: right;">24-2-2016</span></div>
                            <p class="long_text">We take a look into recent colonial rebellions and the <em>WORLDBREAKING</em> technology being used to put a stop to it.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="box_main_1">
                        <div class="zoomout frame"><img src="~/images/swordinscabbard.jpg"></div>
                        <div class="padding_15">
                            <h2 class="speed_text">Duel Tactics</h2>
                            <div class="post_text">Post by : Steve <span style="float: right;">20-12-2019</span></div>
                            <p class="long_text">Is a Battou-jutsu stance really all it's cracked up to be? We find out!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- news section end -->
<!-- contact section start -->
<div class="contact_section layout_padding">
    <div class="container">
        <div class="contact_main">
            <h1 class="request_text">Contact Us</h1>
            <form action="/action_page.php">
                <div class="form-group">
                    <input type="text" class="email-bt" placeholder="Name" name="Name">
                </div>
                <div class="form-group">
                    <input type="text" class="email-bt" placeholder="Email" name="Name">
                </div>
                <div class="form-group">
                    <input type="text" class="email-bt" placeholder="Phone Number" name="Email">
                </div>
                <div class="form-group">
                    <textarea class="massage-bt" placeholder="Message" rows="5" id="comment" name="Message"></textarea>
                </div>
            </form>
            <div class="send_btn"><a href="#">SEND</a></div>
        </div>
    </div>
</div>
<!-- contact section end -->
